<div class="book-page">
    <a href="/books">Voltar</a>

    <div class="container">
        <h1>{{book.title}}</h1>
        <p>O livro tem {{book.pages_number}} Páginas</p>

        <button><a href="/books/edit/{{book.id}}">Edit your book info</a></button>
    </div>

</div>